@CHARSET "UTF-8";

#devicookieinfo {
	/* width: 100%; */
	
}

#devicookieinfo h2 {
	color: #2462C5;
	font-size: 18px;
	padding: 10px 0 15px;
	margin: 0;
}

#devicookieinfo p {
	color: #898989;
	font-size: 14px;
	padding: 0 0 10px;
	margin: 0;
}

#devicookieinfo div.fadeall {
	opacity: 0.5;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1999;
	top: 0;
	left: 0;
	position: fixed;
}

#devicookieinfo div.cookieInner {
	background: url("cookie.png") no-repeat scroll 470px 40px #fff;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 10px 10px 5px #888;
	height: 290px;
	left: 50%;
	margin: 0 0 0 -365px;
	padding: 5px;
	position: fixed;
	top: 50px;
	width: 730px;
	z-index: 999999;
}

#devicookieinfo div.cookieTextWrapper {
	padding: 40px 300px 0 40px;
}

#devicookieinfo div.cookieText {
	
}

#devicookieinfo div.cookieButtonWrapper {
	padding: 40px 300px 0 40px;
}

#devicookieinfo .cookieButton {
	border-radius: 5px 5px 5px 5px;
	background-color: #ff5601;
	text-shadow: #000 2px 2px 3px;
	color: #fff;
	padding: 5px 12px;
	height: 18px;
	float: right;
	font-size: 16px;
	cursor: pointer;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

#devicookieinfo .cookieButton:hover {
	background-color: #AD310B;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}